{
	"singleQuote": true,
	"semi": false,
	"arrowParens": "always",
	"printWidth": 120,
	"trailingComma": "es5",
	"bracketSameLine": false,
	"htmlWhitespaceSensitivity": "ignore",
	"singleAttributePerLine": true,
	"plugins": ["prettier-plugin-tailwindcss"],
	"useTabs": true
}
